<% @pendingOrders = Order.where("user_id="+current_user.id.to_s+" AND NOT status='D'")%>
<h1 align="center">Pending Orders</h1>
<% @pendingOrders.each do |order|%>
    <div class="alert alert-success">
     Order ID:<%= order.id%>,Status:<%=order.status%>
    <br>
    </div>
<% end %>