<% @pendingOrders = Order.where("user_id="+current_user.id.to_s+" AND NOT status='D'")%>
<h6>Pending Orders</h6>
<% @pendingOrders.each do |order|%>
    
    Order ID:<%= order.id%>,Status:<%=order.status%>
    <br>
<% end %>