<div class="row" style="height:103%; margin-right:0;" >
    <% if @user.role == "A"%>
      <%= render 'layouts/dashboards/admin-dashboard'%>
    <% elsif @user.role == "U" %>
      <%= render 'layouts/dashboards/user-dashboard'%>
    <% else %>
      <%= render 'layouts/dashboards/restaurant-user-dashboard'%>
    <% end %>
</div>
