<div class="container">
<br>
<div class="text-center"><h3>Sign Up</h3></div>
<%if @user.errors.any? %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <%= render 'layouts/user-error' %>
        </div>
   </div>
<% end %>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <%= render 'layouts/user-registration-form'%>
    </div>
</div>
</div>
