<div class="col-2" style="background-color:aliceblue;padding-right:0">
    <div class="nav nav-pills flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-process-order-tab" data-toggle="pill" href="#v-pills-process-order" role="tab" aria-controls="v-pills-process-order" aria-selected="false">Process Order</a>
        <a class="nav-link" id="v-pills-view-order-tab" data-toggle="pill" href="#v-pills-view-order" role="tab" aria-controls="v-pills-view-order" aria-selected="true">View Order</a>
    </div>
</div>
<div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-view-order" role="tabpanel" aria-labelledby="v-pills-view-order-tab">
           <%= render 'layouts/dashboards/orders'%>          
        </div>

        <div class="tab-pane fade show active" id="v-pills-process-order" role="tabpanel" aria-labelledby="v-pills-process-order-tab">
            <%= render 'layouts/dashboards/process-orders'%>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#process-order-table').DataTable();
} );
var pusher = new Pusher('033b707bcaba4f7c5f3d', {
    cluster: 'ap2',
    forceTLS: true
});

var channel = pusher.subscribe('order');
channel.bind('new-order', function(order) {
    var newTableRow1 =  '<tr id="process-row-'+order.id+'">'
                        +'<td>'+order.id+'</td>'
                        +'<td>'+order.user_id+'</td>'
                        +'<td>'+order.restaurant_id+'</td>'
                        +'<td>'+order.created_at+'</td>'
                        +'<td id="process-order-status-'+order.id+'">'+order.status+'</td>'
                        +'<td><a data-remote="true" href="/orders/change_status/'+order.id+'">Change Status</a></td>'
                        +'</tr>';

    var newTableRow2 =  '<tr id="process-row-'+order.id+'">'
                        +'<td>'+order.id+'</td>'
                        +'<td>'+order.user_id+'</td>'
                        +'<td>'+order.restaurant_id+'</td>'
                        +'<td>'+order.created_at+'</td>'
                        +'<td id="process-order-status-'+order.id+'">'+order.status+'</td>'
                        +'</tr>';
    $('#view-order-table tr:last').after(newTableRow2);
    $('#process-order-table tr:last').after(newTableRow1);;
    console.log(newTableRow1);
});
</script>